<!DOCTYPE html>
<html lang="ru">
<head>
	<base href="/adm/">
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Admin</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
	<link href="app/components/angular/angular-csp.css" rel="stylesheet"/>
	<link href="assets/stylesheets/app.css" rel="stylesheet"/>
	<script type="text/javascript" data-main="app/boot" src="app/components/requirejs/require.js"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<header>
	<div class="logotype uk-hidden-small">
		<a href="/adm">Агентство интернет-рекламы Coffee Studio</a>
	</div>
	<div class="adm-handle uk-float-left">
		<div class="uk-nestable-handle"></div>
	</div>
	<div class="head-blocks">
		<div class="uk-grid uk-grid-collapse">
			<div class="uk-width-medium-9-10 uk-width-small-10-10 leftcol">
				<div ng-controller="CoffeeHeaderCtrl" class="uk-grid uk-grid-collapse">
					<div class="uk-width-medium-4-10 uk-hidden-small">
						<span class="date">20 мая 2015 г</span>
						<div class="site">Сайт: <a href="/" ng-bind="siteTitle"></a></div>
					</div>
					<div nologin id="auth-form" ng-controller="AuthCtrl">
						<div>Требуется авторизация</div>
						<form>
						<span><input ng-model="login" placeholder="логин" type="text" name="login"/></span>
						<span><input ng-model="password" placeholder="пароль" type="password" name="password"/></span>
						<span><input ng-click="doLogin()" type="submit" value="Войти"/></span>
						</form>
					</div>
					<div restricted class="uk-width-medium-4-10 uk-width-small-10-10 icons">
<!--						<a href="#" data-uk-tooltip="{pos:'bottom'}" title="Карта сайта">
							<span class="uk-icon-sitemap"></span>
						</a>
						<a href="#" data-uk-tooltip="{pos:'bottom'}" title="Настройки сайта">
							<span class="uk-icon-cogs"></span>
						</a>
						<a href="#" data-uk-tooltip="{pos:'bottom'}" title="Сохранить">
							<span class="uk-icon-download"></span>
						</a>
						<a href="#" data-uk-tooltip="{pos:'bottom'}" title="Восстановить">
							<span class="uk-icon-upload"></span>
						</a>
						<a href="#" data-uk-tooltip="{pos:'bottom'}" title="Помощь">
							<span class="uk-icon-question-circle"></span>
						</a>-->
						<a href="#" class="uk-hidden-medium uk-hidden-large" data-uk-tooltip="{pos:'bottom'}" title="Выход">
							<span class="uk-icon-sign-out"></span>
						</a>
					</div>
					<div class="ng-cloak uk-width-medium-2-10 uk-hidden-small">
						<span class="user" ng-bind="user.username"></span>
					</div>
				</div>
			</div>

			<div restricted ng-controller="LogoutCtrl" class="uk-width-medium-1-10 uk-hidden-small logout">
				<a ng-click="doLogout()"><span class="uk-icon-sign-out"></span></a>
			</div>
		</div>
	</div>
</header>

<div restricted id="aside" class="sb-slidebar sb-left ng-cloak" ng-controller="CoffeeSidebarCtrl">
	<div class="scrollable">
		<coffee-side-nav>
			<section class="sidenav" ng-repeat="block in blocks">
                <div class="uk-nav-header" ng-bind="block.title"></div>
                <ul class="root">
                    <li coffee-side-block-tree="node in block.children at ul" ng-class="{parent: node.children}">
                        <a ng-class="{active: isActive(node)}" ui-sref="{{makeSref(node)}}">
                            <!--<i class="uk-icon-external-link"></i> <span ng-bind="node.title"></span>-->
							<span ng-bind="node.title"></span>
                            <!--<span class="uk-badge">1</span>-->
                            <b ng-if="node.children" class="uk-icon-angle-right"></b>
                        </a>
                        <ul class="submenu"></ul>
                    </li>
                </ul>
			</section>
		</coffee-side-nav>
        <coffee-widget ng-if="showSections" name="tree" flat="true" obj-model="CoffeestudioSectionBundle:Section" active-id="0"></coffee-widget>
	</div>

	<div class="sidefoot">
		Агентство интернет-рекламы Coffee Studio
	</div>
</div><!-- /end #aside -->

<section restricted class="adm-container">
	<div ui-view="content" class="adm-box-content uk-container ng-cloak">
		<div>Добро пожаловать.</div>
	</div><!-- /end .adm-box-content.uk-container -->
</section><!-- /end .adm-container -->

<div coffee-flash="flash" id="notificator" ng-show="show">
	<span class="message" ng-class="{'uk-badge-success': success, 'uk-badge-warning': !success}" ng-bind="message"></span>
</div>
<coffee-widget name="filemanager"></coffee-widget>

</body>
</html>
