<script id="{{tplId}}" type="text/ng-template">
    <span class="leaf" ng-if="node.leaf"></span>
    <a class="fa" ng-class="{'fa-plus': ! node.childrenVisible, 'fa-minus': node.childrenVisible}" ng-click="node.toggleSubtree()" ng-if="! node.leaf"></a>
    <a class="dyn" ng-click="w.toggleNode(node)">{{node.title}}</a>
    <a class="fa fa-edit" title="Править" ui-sref="{{makeEditSref(node)}}"></a>
    <a class="fa fa-trash" title="Удалить" ng-click="delete(node)"></a>
    <span ng-if="node.hasMark()" ng-bind="node.mark" class="mark"></span>
    <ul ng-if="node.childrenVisible"><li ng-class="{active: node.isActive()}" ng-repeat="node in node.children" ng-include="'{{tplId}}'"></li></ul>
</script>
<nav class="tree">
    <h1>{{w.treeTitle}}</h1>
    <ul class="section">
        <li ng-if="! w.flat" class="root" ng-class="{active: true}">
            <a class="dyn" ng-click="w.resetNode()">Корень</a>
        </li>
        <li ng-repeat="node in w.topLevel" ng-include="'{{tplId}}'" ng-class="{active: node.isActive()}"></li>
        <li class="add"><a ng-click="goAddSection()" class="fa fa-plus-circle"> Добавить раздел</a></li>
    </ul>
</nav>
