<div ng-click="w.state.reset()" class="att-panel ko">
  <div class="attachment"><input ng-click="w.attach($event)" type="button" value="Прикрепить файл"/></form>
  <span ng-if="w.state.activeId > 0" class="att-edit" ng-click="$event.stopPropagation()">
    <input placeholder="название" ng-model="w.state.name"/>
    <input placeholder="комментарий" ng-model="w.state.comment"/>
    <input type="button" ng-click="w.state.save()" ng-disabled="! w.state.edited()" value="Сохранить"/>
  </span>
  <ul ui-sortable="w.sortable" ng-model="w.attachments">
    <li ng-repeat="att in w.attachments">
      <div class="item" ng-class="{active: att.id == att.panel.state.activeId}" ng-click="att.panel.state.setState(att, $event)">
        <img ng-if="att.type == 'image'" src="{{att.thumb}}" width="50px" height="50px"/>
      </div>
      <a ng-click="att.del()" class="btn_del"></a>
    </li>
  </ul>
  </div>
</div>
